<% layout("layouts/boilerplate") %>

<div class="d-flex alignitems-center justify-content-center vh-100">
  <div class="text-center">
    <h1 class="display-1 fw-bold"><%= err.statusCode %></h1>
    <p class="fs-3">
      <span class="text-danger">Opps!</span> Something went wrong.
    </p>
    <p class="lead"><%= err.message %></p>
    <a href="/coffeeshops" class="btn btn-primary">Go home</a>
  </div>
</div>
