/* Home page styles */
:root {
  --oxford-blue: #14213d;
  --orange-web: #fca311;
  --orange-dark: #e4920d;
  --platinum: #e5e5e5;
}

#main-btn {
  background-color: var(--orange-web);
}

.navbar-brand > span {
  color: var(--oxford-blue);
}

#main-title {
  color: var(--oxford-blue);
}
/* Custom Mapbox styles  */
#cafe-title {
  font-weight: bold;

  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#cafe-subtitle {
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#map-cluster {
  height: 500px;
  width: 100%;
}

#map-container {
  height: 300px;
  width: 100%;
}

#map {
  position: relative;
  height: inherit;
  width: inherit;
}

/* Custom button styles  */
.btn-warning {
  background-color: var(--orange-web);
  border-color: var(--orange-dark);
}

h2,
h5 {
  color: var(--oxford-blue);
}

.page-link {
  color: var(--oxford-blue);
}

.active > .page-link,
.page-link.active {
  background-color: var(--orange-web);
  border-color: var(--orange-web);
}
