<% layout("layouts/boilerplate")%>
<div class="row">
  <h1 class="text-center">Add a new café</h1>
  <div class="col-6 offset-3">
    <form
      action="/coffeeshops"
      method="post"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="cafe[title]"
          required
        />
        <div class="invalid-feedback">Please provide the name of this café</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="cafe[location]"
          required
        />
        <div class="invalid-feedback">
          Please provide a location for this café
        </div>
      </div>
      <div class="mb-3">
        <label for="addImages" class="form-label">Add an image</label>
        <input
          class="form-control"
          type="file"
          id="addImages"
          name="image"
          required
          multiple
        />
        <div class="invalid-feedback">Please add a photo of this café</div>
      </div>
      <div class="mb-3">
        <label for="avgprice" class="form-label"
          >Average cup of coffee price:</label
        >
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="number"
            class="form-control"
            placeholder="0.00"
            aria-label="avgprice"
            aria-describedby="price-label"
            name="cafe[avgprice]"
            id="avgprice"
            required
          />
          <div class="invalid-feedback">Please provide the average price</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Describe this place</label>
        <textarea
          class="form-control"
          id="description"
          name="cafe[description]"
          required
        ></textarea>
        <div class="invalid-feedback">
          Please describe this café with a couple of sentences
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add new coffeeshop</button>
      </div>
    </form>
    <a href="/coffeeshops">Go back</a>
  </div>
</div>
