<% layout("layouts/boilerplate")%>
<h1>Create a new coffeeshop</h1>
<form action="/coffeeshops" method="post">
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="cafe[title]" />
  </div>
  <div>
    <label for="location">Location</label>
    <input type="text" id="location" name="cafe[location]" />
  </div>
  <button>Add new coffeeshop</button>
</form>
<footer>
  <a href="/coffeeshops">Go back</a>
</footer>
